.navbar{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    .navbar-nav{
        .nav-item{
            margin-left: 29px;
            .nav-link{
                &.active{
                    font-weight: bold;
                }
            }
        }
    }
}